html{ height:100%; }
/* body{ min-height:100%; padding:0; margin:0; position:relative; } */
/* body::after{ content:''; display:block; height:100px; } */
#movies img,
#movie img {
    width: 100%;
}

.brand-text {
    font-size: 2rem;
}

#react-logo {
    color: #00d8ff;
}

#imdb-logo {
    color: #f5de50;
}

@media (min-width: 960px) {
    #movies .col-md-3 .well {
        height: 390px;
    }

    #movies .col-md-3 img {
        height: 240px;
    }
}
/* 
.row {
    margin-right: 0;
} */

.col-md-12 {
    padding: 0;
}
.footer{
    height: 100px;

}

.landing-height{
    min-height: calc(100vh - 196px);
}
